@-webkit-keyframes slideOutRight {
	0% {
		-webkit-transform: translateX(0);
	}

	100% {
		// opacity: 0;
		-webkit-transform: translateX(100%);
	}
}

@-moz-keyframes slideOutRight {
	0% {
		-moz-transform: translateX(0);
	}

	100% {
		// opacity: 0;
		-moz-transform: translateX(100%);
	}
}

@-o-keyframes slideOutRight {
	0% {
		-o-transform: translateX(0);
	}

	100% {
		// opacity: 0;
		-o-transform: translateX(100%);
	}
}

@keyframes slideOutRight {
	0% {
		transform: translateX(0);
	}

	100% {
		// opacity: 0;
		transform: translateX(100%);
	}
}

.slideOutRight {
	-webkit-animation-name: slideOutRight;
	-moz-animation-name: slideOutRight;
	-o-animation-name: slideOutRight;
	animation-name: slideOutRight;
}
