pre[class*="language-"],
code[class*="language-"] {
	color: $text-color;
	white-space: pre;
	word-wrap: normal;
}

.token { @extend %inline-unit; }

.token.atrule,
.token.attr-name,
.token.keyword,
.token.boolean,
.token.regex {
	color: $red;
}

.token.tag,
.token.selector {
	color: #FFF;
}
	.token.tag .token.tag,
	.token.selector { @include text-shadow(0 0 3px $text-color, 0 0 1px #000, 1px 1px 0 #000, -1px -1px 0 #000); }
	.token.tag .token { @include text-shadow(none); }

.token.punctuation {
	color: $green;
}

.token.doctype,
.token.prolog,
.token.cdata {
	color: $lightgray;
}

.token.property,
.token.operator {
	color: $orange;
}

.token.number,
.token.string,
.token.attr-value,
.token.url,
.token.entity {
	color: $yellow;
}

.token.url {
	font-style: italic;
}

.token.number,
.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}

.token.comment {
	display: block;
}
