@charset "utf-8";

// ------------------------------------------------------------------------------------- \\

nav ul { @extend %grid-row; }
nav ul li { @extend %grid-unit; @extend %space-in-vertical; @extend %space-in-gutter-horizontal; }
form > legend { @extend %space-out-bottom; }
form > *[type="submit"] { @extend %space-out-lead-top; }

// ------------------------------------------------------------------------------------- \\

.site { }
	.site-head { }
		.site-logo { }
		.site-title { }
		.site-subtitle { }
	.site-menu { }
	.site-body { }
	.site-foot { }
		.site-disclaimer { }

// ------------------------------------------------------------------------------------- \\

.page { }
	.page-head { }
		.page-media { }
		.page-title { }
		.page-subtitle { }
	.page-body { }
	.page-foot { }

// ------------------------------------------------------------------------------------- \\

.navmain { }
	.navmain-item { }
		.navmain-link { }

// ------------------------------------------------------------------------------------- \\

.navpage { }
	.navpage-item { }
		.navpage-link { }

// ------------------------------------------------------------------------------------- \\

.navfoot { }
	.navfoot-item { }
		.navfoot-link { }

// ------------------------------------------------------------------------------------- \\

.propsearch { @extend %inline-row; }
	.propsearch fieldset,
	.propsearch label {
		@extend %inline-unit;
		vertical-align: bottom;
	}

// ------------------------------------------------------------------------------------- \\

.rtf { @extend %rtf; }
.success { @extend %message; @extend %success; }
.info { @extend %message; @extend %info; }
.alert { @extend %message; @extend %alert; }
.warning { @extend %message; @extend %warning; }
.error { @extend %message; @extend %error; }
.inverse { @extend %message; @extend %inverse; }

// ------------------------------------------------------------------------------------- \\

[data-convey*="conveyor-"] {
	@extend %message;
	@extend %inverse;
	@extend %animated;
	position: absolute;
	.fadein { z-index: 99; }
	.fadeout { z-index: -99; }
}
	[data-convey*="hide-"] {
		position: absolute;
		top: 0; right: 0;
		font-size: 66%;
	}

// ------------------------------------------------------------------------------------- \\

// https://github.com/daneden/animate.css/blob/master/animate.css
%animated {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-moz-keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-o-keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.fadein {
	-webkit-animation-name: fadein;
	-moz-animation-name: fadein;
	-o-animation-name: fadein;
	animation-name: fadein;
}

@-webkit-keyframes fadeout {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@-moz-keyframes fadeout {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@-o-keyframes fadeout {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes fadeout {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

.fadeout {
	-webkit-animation-name: fadeout;
	-moz-animation-name: fadeout;
	-o-animation-name: fadeout;
	animation-name: fadeout;
}

// ------------------------------------------------------------------------------------- \\
