@charset "utf-8";

// ------------------------------------------------------------------------------------- 

@import "components/prism";
@import "components/animation-fadein";
@import "components/animation-fadeout";
@import "components/animation-flipiny";
@import "components/animation-flipouty";
@import "components/animation-slideinleft";
@import "components/animation-slideoutleft";
@import "components/animation-slideinright";
@import "components/animation-slideoutright";

// ------------------------------------------------------------------------------------- 

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url(http://themes.googleusercontent.com/static/fonts/inconsolata/v6/BjAYBlHtW3CJxDcjzrnZCIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: local('Inconsolata Bold'), local('Inconsolata-Bold'), url(http://themes.googleusercontent.com/static/fonts/inconsolata/v6/AIed271kqQlcIRSOnQH0yTqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}

// ------------------------------------------------------------------------------------- 

%noise { background-image: inline-image("embed/noise.png"); }

// ------------------------------------------------------------------------------------- 

html, body, .site { min-height: 100%; }

html {
	@extend %noise;
	@include pseudolayer( $position: ( 0, 0, 0, auto ) );
	&:before {
		@include background-image(
			radial-gradient( at right bottom, rgba(lighten($background-color,50%),0.25), rgba($background-color,0) )
		);
		background-attachment: fixed;
	} // before
}

// ------------------------------------------------------------------------------------- 

$site-head-space: #{$leadx2-ratio + $gutter-ratio - $padhalf-ratio}em;

.site { @extend %grid-row; }
	.site-head {
		@extend %space-in-leadhalf-vertical;
		@extend %space-in-gutter-horizontal;
		position: absolute; position: fixed;
		top: 0; right: 0; bottom: auto; left: 0;
		min-height: $leadx2;
		font-size: $lead;
		line-height: 1;
		background-color: rgba(0,0,0,0.65);
		@include box-shadow(
			inset 0 -1px 1px rgba(0,0,0,0.15),
			1px 1px 1px rgba(255,255,255,0.10)
		);
		text-align: right;
		z-index: 1;
	}
		.site-logo { }
		.site-title,
		.site-subtitle {
			position: relative;
			top: -3px; // magic #
			@extend %inline-unit;
		}
		.site-title { color: $orange; }
		.site-subtitle { color: $green; }
	.site-menu {
		@extend %space-in-font-vertical;
		@extend %space-in-gutter-horizontal;
		@extend %width-1of5;
		@extend %animated;
		margin-top: $leadx2;
		position: absolute; position: fixed;
		top: 0; left: 0; bottom: 0;
		background-color: rgba(0,0,0,0.25);
		@include box-shadow(
			inset -1px 0 1px rgba(0,0,0,0.15),
			1px 0 1px rgba(255,255,255,0.15)
		);
		z-index: 2;
	}
		.site-menu-btn {
			@extend %space-in-none;
			position: absolute;
			top: 20%; right: 1px; bottom: 20%;
			font-size: 44%;
			border: 1px outset;
			@include border-radius( 0 );
			.collapsed & {
				right: -12px;
			}
		}
	.site-body {
		@extend %space-in-font-vertical;
		@extend %space-in-gutter-horizontal;
		@extend %grid-unit;
		@extend %grid-right;
		@extend %width-4of5;
		margin-top: $site-head-space;
		position: relative;
		z-index: 0;
	}
	.site-foot { @extend %grid-first; }
		.site-disclaimer { }

// ------------------------------------------------------------------------------------- 

.page { }
	.page-head { }
		.page-media { }
		.page-title { }
		.page-subtitle { }
	.page-body { }
	.page-foot { }

// ------------------------------------------------------------------------------------- 

.navmain { }
	.navmain-item { }
		.navmain-link { }

// ------------------------------------------------------------------------------------- 

.navpage { }
	.navpage-item { }
		.navpage-link { }

// ------------------------------------------------------------------------------------- 

.navfoot { }
	.navfoot-item { }
		.navfoot-link { }

// ------------------------------------------------------------------------------------- 

.project-menu--list {
	font-family: sans-serif;
	font-weight: bold;
}
	.project-menu--item {}
		.project-menu--toggle {
			@extend %space-in-none;
			@extend %space-out-half-right;
			@extend %inline-unit;
			width: $lead; height: $lead;
			color: #FFF;
			background-color: #000;
			text-shadow: 1px 1px 0 rgba(0,0,0,0.75);
			@include background-image(
				radial-gradient( rgba(0,0,0,0.25), rgba($background-color,0.75) 60% )
			);
			@include box-shadow(
				inset 1px 1px 0 rgba(255,255,255,0.15),
				inset -1px -1px 0 rgba(0,0,0,0.33),
				1px 1px 1px rgba(0,0,0,0.25)
			);
			@include border-radius( $pad );
		}
		.project-menu--link {}

// ------------------------------------------------------------------------------------- 

.snippet-menu--list {
	@extend %space-in-gutter-left;
	font-weight: normal;
}
	.snippet-menu--item {
		@extend %space-in-left;
	}
		.snippet-menu--link {}

// ------------------------------------------------------------------------------------- 

.project-detail { font-family: sans-serif; }
	.project-detail--head { @extend %space-out-leadhalf-bottom; }
		.project-detail--name { font-size: $leadx2; }
		.project-detail--tech { font-size: $lead; }
		.project-detail--date {}
	.project-detail--body { @extend %grid-row; }
		.project-detail--desc {
			@extend %space-out-lead-bottom;
			@extend %grid-unit;
			@extend %width-1of2;
		}
		.project-detail--shots {
			@extend %space-in-gutter-left;
			@extend %grid-unit;
			@extend %grid-right;
			@extend %width-1of2;
			@include column-count( 2 );
			@include column-gap( $padhalf );
			font-size: 0;
			line-height: 0;
		}
			.project-detail--img {
				@extend %space-out-half-bottom;
				@extend %space-out-half-right;
				vertical-align: top;
			}

// ------------------------------------------------------------------------------------- 

.snippet-detail { position: relative; }
	.snippet-detail--head {}
		.snippet-detail--name { font-size: $lead; }
		.snippet-detail--type { display: inline; }
		.snippet-detail--lastmod {}
		.snippet-detail--size {}
	.snippet-detail--body {}
		.snippet-detail--src {
			@extend %width-1of1;
			@extend %animated;
			min-height: 100%;
		}
		.snippet-detail--shots {
			@include column-count( 2 );
			@include column-gap( $padhalf );
			@extend %animated;
			font-size: 0;
			line-height: 0;
			min-height: 100%;
		}
			.snippet-detail--img {
				@extend %space-out-half-bottom;
				@extend %space-out-half-right;
				vertical-align: top;
			}
		.snippet-detail--demo {
			@extend %width-1of1;
			@extend %animated;
			overflow: hidden;
			overflow-y: hidden;
			min-height: 100%;
		}
	.snippet-detail--nav { }
		.snippet-detail--btn {
			@extend %width-1of2;
			display: block;
			position: absolute;
			top: 0; bottom: 0;
			border: 0;
			&.active { display: none; }
			&.next { left: 50%; right: 0; background: rgba(255,0,0,0.15); }
			&.prev { left: 0%; right: 50%; background: rgba(0,255,0,0.15); }
		}



// ------------------------------------------------------------------------------------- 
