@charset "utf-8";

// ------------------------------------------------------------------------------------- 

/*
## Site
*/

// ------------------------------------------------------------------------------------- 

@import "portfolio";

/*
@import "remax";

// ------------------------------------------------------------------------------------- 

.site { }
	.site-head { }
		.site-logo { }
		.site-title { }
		.site-subtitle { }
	.site-menu { }
	.site-body { }
	.site-foot { }
		.site-disclaimer { }

// ------------------------------------------------------------------------------------- 

.page { }
	.page-head { }
		.page-media { }
		.page-title { }
		.page-subtitle { }
	.page-body { }
	.page-foot { }

// ------------------------------------------------------------------------------------- 

.navmain { }
	.navmain-item { }
		.navmain-link { }

// ------------------------------------------------------------------------------------- 

.navpage { }
	.navpage-item { }
		.navpage-link { }

// ------------------------------------------------------------------------------------- 

.navfoot { }
	.navfoot-item { }
		.navfoot-link { }

// ------------------------------------------------------------------------------------- 

.propsearch { @extend %inline-row; }
	.propsearch fieldset,
	.propsearch label {
		@extend %inline-unit;
		vertical-align: bottom;
	}

// ------------------------------------------------------------------------------------- 

.rtf { @extend %rtf; }

// ------------------------------------------------------------------------------------- 

.success { @extend %success; }
.info { @extend %info; }
.alert { @extend %alert; }
.warning { @extend %warning; }
.error { @extend %error; }
.inverse { @extend %inverse; }

// ------------------------------------------------------------------------------------- 

.message { @extend %message; }
.message { position: absolute; }

// ------------------------------------------------------------------------------------- 

.modal { @extend %modal; }
.modal { position: absolute; }
	.modal:before { @extend %modal-bg; }
	.modal:after { @extend %modal-fg; }
	.modal-close { @extend %modal-close; }
		.modal-head { @extend %modal-head; }
		.modal-body { @extend %modal-body; }

// ------------------------------------------------------------------------------------- 

.examplecustom {
	@extend %space-in-gutter-horizontal;
	@extend %space-in-font-vertical;
	border: 1px solid $text-color;
	@include box-shadow( $padhalf $padhalf $padhalf $padhalf rgba(0,0,0,0.33) );
	position: absolute;
}

// ------------------------------------------------------------------------------------- 

[data-js|="convey-view-"] { @extend %animated; }

// ------------------------------------------------------------------------------------- 
*/
