// ------------------------------------------------------------------------------------- 

// Custom Variables
// ===================================================================================== 

$red: #D40015;
$orange: #FF4411;
$yellow: #FAFAC6;
$green: #98A89E;
$lightgray: #999;
$darkgray: #666;

// ------------------------------------------------------------------------------------- 

// Fonts
// ===================================================================================== 

// Default font faces
$font-family: "Inconsolata", monospace;
//-- $font-family-alt:;

// Default font sizes
//-- $font-size-ratio:;
//-- $font-size:;
//-- $fluid-font-size:;
//-- $static-font-size:;

// Default font sizes
//-- $font-ratio:;
//-- $fonthalf-ratio:;
//-- $fontx2-ratio:;

// Font sizes in static proportions - rems
//-- $font:;
//-- $fonthalf:;
//-- $fontx2:;

// Font sizes in static proportions - ems
//-- $fluid-font:;
//-- $fluid-fonthalf:;
//-- $fluid-fontx2:;

// Font sizes in static proportions - px
//-- $static-font:;
//-- $static-fonthalf:;
//-- $static-fontx2:;

// ------------------------------------------------------------------------------------- 

// Leading
// ===================================================================================== 

// Default line heights
//-- $lead-ratio:;
//-- $leadhalf-ratio:;
//-- $leadx2-ratio:;

// Line height / leading in static proportions - rems
//-- $lead:;
//-- $leadhalf:;
//-- $leadx2:;

// Line height / leading in fluid proportions - ems
//-- $fluid-lead:;
//-- $fluid-leadhalf:;
//-- $fluid-leadx2:;

// Line height / leading in static proportions - px
//-- $static-lead:;
//-- $static-leadhalf:;
//-- $static-leadx2:;

// ------------------------------------------------------------------------------------- 

// Padding
// ===================================================================================== 

// Default padding size (squares off line-height)
//-- $pad-ratio:;
//-- $padhalf-ratio:;
//-- $pad3q-ratio:;
//-- $padx2-ratio:;

// Padding in static proportions - rems
//-- $pad:;
//-- $padhalf:;
//-- $pad3q:;
//-- $padx2:;

// Padding in fluid proportions - ems
//-- $fluid-pad:;
//-- $fluid-padhalf:;
//-- $fluid-pad3q:;
//-- $fluid-padx2:;

// Padding in static proportions - px
//-- $static-pad:;
//-- $static-padhalf:;
//-- $static-pad3q:;
//-- $static-padx2:;

// ------------------------------------------------------------------------------------- 

// Gutters
// ===================================================================================== 

// Default gutter size (same as line-height)
//-- $gutter-ratio:;
//-- $gutterhalf-ratio:;
//-- $gutterx2-ratio:;

// Gutters in static proportions - rems
//-- $gutter:;
//-- $gutterhalf:;
//-- $gutterx2:;

// Gutters in fluid proportions - ems
//-- $fluid-gutter:;
//-- $fluid-gutterhalf:;
//-- $fluid-gutterx2:;

// Padding in static proportions - px
//-- $static-gutter:;
//-- $static-gutterhalf:;
//-- $static-gutterx2:;

// ------------------------------------------------------------------------------------- 

// Spaces
// ===================================================================================== 

// Approximate size of the inline space
//-- $space-ratio:;
//-- $space:;
//-- $fluid-space:;
//-- $static-space:;

// ------------------------------------------------------------------------------------- 

// Color Scheme
// ===================================================================================== 

$background-color: #222;
$text-color: #CCC;

$link-color: $yellow;
	$link-color-visited: darken($yellow, 10%);
	$link-color-hover: lighten($yellow, 10%);

//-- $border-color:;

//-- $success-color:;
	//-- $success-background-color:;
	//-- $success-text-color:;
//-- $info-color:;
	//-- $info-background-color:;
	//-- $info-text-color:;
//-- $alert-color:;
	//-- $alert-background-color:;
	//-- $alert-text-color:;
//-- $warning-color:;
	//-- $warning-background-color:;
	//-- $warning-text-color:;
//-- $error-color:;
	//-- $error-background-color:;
	//-- $error-text-color:;
//-- $inverse-color:;
	//-- $inverse-background-color:;
	//-- $inverse-text-color:;

// ------------------------------------------------------------------------------------- 

// Layout
// ===================================================================================== 

//-- @mixin html() { }
//-- @mixin body() { }

// ------------------------------------------------------------------------------------- 

// Headings
// ===================================================================================== 

//-- @mixin h1() { }
//-- @mixin h2() { }
//-- @mixin h3() { }
//-- @mixin h4() { }
//-- @mixin h5() { }
//-- @mixin h6() { }

// ------------------------------------------------------------------------------------- 

// Multimedia
// ===================================================================================== 

//-- @mixin media-frame() { }

// ------------------------------------------------------------------------------------- 

// Forms
// ===================================================================================== 

//-- @mixin fieldset() { }
	//-- @mixin fieldset-skin() { }
//-- @mixin field() { }
	//-- @mixin field-skin() { }
//-- @mixin input() { }
	//-- @mixin input-skin() { }
//-- @mixin select() { }
	//-- @mixin select-skin() { }
//-- @mixin textarea() { }
	//-- @mixin textarea-skin() { }
//-- @mixin choice() { }
	//-- @mixin choice-skin() { }
//-- @mixin checkbox() { }
	//-- @mixin checkbox-skin() { }
//-- @mixin radio() { }
	//-- @mixin radio-skin() { }
//-- @mixin button() { }
	//-- @mixin button-skin() { }

// ------------------------------------------------------------------------------------- 

// User Interface
// ===================================================================================== 

//-- @mixin autocomplete() { }
	//-- @mixin autocomplete-suggestion() { }
//-- @mixin dropdown-menu() { }
@mixin links() {
	color: $link-color;
	text-decoration: none;
	border-bottom: 1px dotted rgba( $link-color, 0.50 );
	&:link { }
	&:visited { color: $link-color-visited; }
	&:focus,
	&:active,
	&:hover { color: $link-color-hover; }
}
//-- @mixin message() { }
//-- @mixin modal() { }
	//-- @mixin modal-bg() { }
	//-- @mixin modal-fg() { }
	//-- @mixin modal-close() { }
		//-- @mixin modal-head() { }
		//-- @mixin modal-body() { }
		//-- @mixin modal-foot() { }
//-- @mixin tabs() { }
	//-- @mixin tabs-link() { }

// ------------------------------------------------------------------------------------- 

// Misc Elements
// ===================================================================================== 

//-- @mixin big() { }
//-- @mixin small() { }
//-- @mixin selected-text { }
//-- @mixin hr() { }

// ------------------------------------------------------------------------------------- 
